$crumb-bg: #000000;
$crumb-font-color: #ffffff;
$crumb-font-color: #ffffff;
$button-bg-color: #4D7EA8;

@import 'bower_components/foundation/scss/foundation';
@import 'bower_components/foundation/scss/normalize';

.flexcontainer {
   display: -webkit-flex;
   display: flex;
}

.flexrow {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
}

.flexcolumn {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
}

.flexcenter {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row; /* works with row or column */
   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
}

/* background setup */
.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%\9 !important;
}

/* fullscreen setup */
html, body {
    /* give this to all tags from html to .fullscreen */
    height:100%;
}

.fullscreen,
.content-a {
    width:100%;
    min-height:100%;
}

.not-fullscreen,
.not-fullscreen .content-a,
.fullscreen.not-overflow,
.fullscreen.not-overflow .content-a {
    height:100%;
    overflow:hidden;
}

/* content centering styles */
.content-a {
  display:table;
}

.content-b {
  display:table-cell;
    position:relative;
  vertical-align:middle;
  text-align:center;
}

/* visual styles */
// body{
//     margin:0;
//     font-family:sans-serif;
//     font-size:28px;
//     line-height:100px;
//     color:#ffffff;
//     text-align:center;
// }
//
section {
  background:#9ed100;
}

.not-fullscreen {
    height:50%;
}

@font-face {
  font-family: Aleo-Bold;
  src: url("styles/fonts/Aleo-Bold.woff");
}

.ember-view {
  height: 100%;
}

.real-feelz {
  color: #ffffff;
  font-family: "Aleo-Bold";
  margin: 30px;
  // font-family: "Conv_AARDC___";
  // font-weight: 100;
  // font-style: italic;
  font-size: 3em;
  // font-family: "Abril Fatface", "Open Sans", sans-serif !important;
  // font-family: "Pacifico", "Open Sans", sans-serif !important;
  // font-family: "Playfair Display", "Open Sans", sans-serif !important;
  // font-family: "Cinzel", "Open Sans", sans-serif !important;
  // font-family: "Lato", "Open Sans", sans-serif !important;
}

.right-now {
  color: #ffffff;
  font-family: Lato, sans-serif;
  margin: 0;
}

#recaptcha_area, #recaptcha_table {
  margin: 0 auto !important;
  margin-bottom: 1em !important;
}

.truths {
  font-size: 1.3em;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

#statements {
  list-style-type: none;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

textarea {
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
  text-align: center;
}

button {
  position: middle !important;
}