@import url(http://fonts.googleapis.com/css?family=Cabin:400,500,700|Raleway:400,700,500|Open+Sans:400,700);
@import 'bower_components/foundation-apps/scss/foundation.scss';

button {
  border-radius: 4px !important;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
h1 {
  font-family: "Cabin", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
  margin-left: 10px;
  margin-right: 10px;
}
h2 {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #ffffff;
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
h3 {
  font-family: "Open Sans";
  font-weight: normal;
  color: #ffffff;
  margin-left: 10px;
  margin-right: 10px;
}
h4 {
  color: #ffffff;
  font-family: "Cabin", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
.title-bar {
  padding: 0px !important;
}
hr {
    margin-top: 25px;
    margin-bottom: 25px;
}
ul {
    margin: 0px;
    padding: 20px;
}
p {
    color: #000000 !important;
    font-weight: bold;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
.grid-block {
    border-radius: 4px;
}
.grid-content {
    border-left: 2px solid #00558b !important;
    border-top: 2px solid #00558b !important;
    border-bottom: 2px solid #00558b !important;
    padding: 0px !important;
    border-radius: 4px;
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.4);
}
.message-input {
    background-color: rgba(255, 255, 255, 0);
}
textarea {
    margin-top: 15px;
    border: 1px solid #778899;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    border-radius: 4px;
    background: #fff;
}
textarea:focus,
select:focus {
    border: 1px solid #00558b;
    outline: 0;
}
.message-input {
    border: 0px !important;
}

.message-input,
.message-input .inline-label,
.menu-bar {
    margin-bottom: 0;
}
#sidebar,
.messages {
    border-right: 2px solid #eee;
}
.message-side-bar {
    border-left: 2px solid #eee;
}
.avatar-section {
    border-top: 2px solid #eee;
}

.parallax-background {
    background: url('/assets/images/realfeelz-ocean-first.jpeg');
    height: 500px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
    width: 100%;
}
.intro-text {
    font-size: 50px;
    color: #fff;
    text-align: center;
    margin-top: 15%;
}
.parallax-content {
    max-width: 100%;
    position: relative;
    top: 500px;
    font-size: 20px;
    background: url('/assets/images/realfeelz-ocean-second.jpeg');
}
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
#container {
    min-height: 100%;
    background: #b00b00;
    border-left: 300px solid #bada55;
}
#sidebar {
    float: left;
    width: 280px;
    padding: 10px;
    margin-left: -300px;
}
#content {
    padding: 10px;
}
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
