<div class="panel radius">
<div class="statement-container">
  <div class="row center-xs">
    <div class="col-xs-12">
      <div class="box">
        <ul id="statements">
        {{#each}}
          <li>
            <p class="truths">{{body}}</p>
          </li>
        {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
