{{view 'fullpage-view'}}


<div id="fullpage">
  <div class="section " id="section0">
    {{!-- <div class="top-border"></div> --}}

    <div class="row">
      <div class="small-12 medium-12 large-12 small-centered columns">
        {{!-- <header> --}}
          <h1>RealFeelz</h1>
          <h2>What's Real For You Right Now?</h2>
        {{!-- </header> --}}
      </div>

    </div>

  </div>

  <div class="section" id="section2">
    <h1></h1>
  </div>
{{!--   <div class="section" id="section3">
    <h1></h1>
  </div> --}}
</div>
