  <div class="grid-frame">
  <div class="medium-grid-block collapse medium-2 large-3 vertical">
  </div>
    <div class="grid-block medium-8 large-6 vertical">
      <div id="header" class="shrink collapse grid-content">
        <ul class="menu-bar primary">
          <li class="hide-for-medium"><a zf-open="sidebar" href="#">Menu</a>
          </li>
          <li><a href="#">Link 1</a>
          </li>
          <li><a href="#">Link 2</a>
          </li>
          <li><a href="#">Link 3</a>
          </li>
        </ul>
      </div>
      <div class="grid-block">
        <div class="grid-block small-12 medium-12 vertical">
          <div class="message-input grid-content collapse shrink">
            <span class="inline-label">
              <input type="text" placeholder="Message">
              <a href="#" class="button">Send</a>
            </span>
          </div>
          <div class="grid-content">
            <h4><img src="http://placehold.it/30x30"> Cady Heron</h4>
            <p>Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue.</p>
            <hr />
            <h4><img src="http://placehold.it/30x30"> Kevin Gnapoor</h4>
            <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat.</p>
            <hr />
            <h4><img src="http://placehold.it/30x30"> Cady Heron</h4>
            <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat.</p>
            <hr />
            <h4><img src="http://placehold.it/30x30"> Trang Pak</h4>
            <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat.</p>
            <hr />
            <h4><img src="http://placehold.it/30x30"> Coach Carr</h4>
            <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat.</p>
            <hr />
            <h4><img src="http://placehold.it/30x30"> Cady Heron</h4>
            <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat.</p>
            <hr />
            <h4><img src="http://placehold.it/30x30"> Trang Pak</h4>
            <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat.</p>
            <hr />
            <h4><img src="http://placehold.it/30x30"> Cady Heron</h4>
            <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat.</p>
            <hr />
          </div>
        </div>
      </div>
    </div>
    <div class="medium-grid-block collapse medium-2 large-3 vertical">
    </div>
  </div>

{{!-- <div class="parallax-background">
  <div class="intro-text">
    scroll for parallax!
    <p><i class="fi-arrow-down"></i></p>
  </div>
</div>

<div class="parallax-content">
  <p>Bacon ipsum dolor sit amet chicken pork loin hamburger ball tip, swine tenderloin salami meatball boudin tri-tip fatback shank bacon. Pork salami kevin, brisket spare ribs strip steak ham hock porchetta. Pork belly short loin tail porchetta. Pork pig meatball, beef ribs doner jerky tri-tip hamburger filet mignon strip steak ball tip ham tail tongue corned beef.</p>

  <p>Flank spare ribs capicola, strip steak biltong pancetta bresaola tri-tip cow landjaeger. Short ribs sirloin beef ribs, flank capicola ribeye turducken. Sirloin boudin andouille tail. Ham flank tail sausage t-bone, jerky landjaeger kevin porchetta ground round pork belly.</p>

  <p>Pork loin doner biltong shoulder meatball flank. Sirloin shankle ground round tail, short loin prosciutto beef ribs salami pork pancetta kielbasa. Brisket spare ribs jerky filet mignon flank. Turducken ham sausage pork loin salami. Ball tip meatloaf shank pancetta hamburger meatball. Jowl beef pork loin tenderloin turducken, pastrami capicola filet mignon ham hock pork belly t-bone jerky ball tip kevin.</p>

  <p>Filet mignon shank pastrami pork loin ham jerky corned beef chuck drumstick ribeye prosciutto pork belly tail. Beef leberkas brisket ham hock tenderloin tail tri-tip pork chop. Corned beef boudin andouille tail fatback chicken strip steak biltong pancetta pork loin tri-tip landjaeger pastrami kevin. Tongue spare ribs kevin ribeye shoulder swine.</p>

  <p>Chicken kielbasa swine ham hock filet mignon strip steak bacon fatback pork t-bone. Ground round shankle tongue, jowl flank spare ribs beef leberkas ham boudin shank capicola short ribs. Drumstick pork loin turkey pork chop salami andouille pork belly. Short loin tongue tri-tip, hamburger filet mignon pastrami doner shoulder turkey ball tip t-bone jerky ham chicken.</p>

  <p>Ground round flank pork loin salami, cow biltong hamburger swine brisket tongue tenderloin drumstick meatball. Biltong tongue salami ham shankle, leberkas meatloaf sirloin ball tip. Pork loin pastrami spare ribs beef capicola sausage kevin filet mignon pork chop. Bacon jerky turkey shoulder cow capicola ball tip shank. Ham tongue tail tri-tip kielbasa ham hock frankfurter meatball cow brisket. Shankle sausage filet mignon biltong pork loin. Short ribs spare ribs chuck pig meatloaf shoulder cow tail brisket biltong ball tip ham hock.</p>
</div> --}}


{{!-- <div class="top-border"></div>

<div class="row">
  <div class="small-12 medium-12 large-12 small-centered columns">
    <header>
      <h1><a href="index.html">Hawthorne Template</a></h1>
      <h2><a href="index.html">Design & Art Direction</a></h2>
      <!--
      <div class="logo">
        <a href="index.html"><img src="img/logo.png" alt="Your Name Here" /></a>
      </div>
      -->
    </header>
  </div>
  <div class="small-12 medium-12 large-12 small-centered columns">
    <nav>
      <ul class="inline-list-custom">
        <li><a href="index.html" class="current">Selected Work</a></li>
        <li><a href="about.html">About</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3 inline-list-custom">

      <!-- Begin project -->
      <li>
        <div class="thumbnail">
          <div class="thumbnail-img">
            <div class="thumbnail-hover"><a href="project-01.html"></a></div>
            <a href="project-01.html"><img src="img/projects/project-01.png" alt="Project 01" /></a>
          </div>
          <div class="thumbnail-caption"><a class="caption-link" href="project-01.html">Project 01</a></div>
        </div>
      </li>
      <!-- End project -->

      <!-- Begin project -->
      <li>
        <div class="thumbnail">
          <div class="thumbnail-img">
            <div class="thumbnail-hover"><a href="project-01.html"></a></div>
            <a href="project-01.html"><img src="img/projects/project-02.png" alt="Project 02" /></a>
          </div>
          <div class="thumbnail-caption"><a class="caption-link" href="project-01.html">Project 02</a></div>
        </div>
      </li>
      <!-- End project -->

      <!-- Begin project -->
      <li>
        <div class="thumbnail">
          <div class="thumbnail-img">
            <div class="thumbnail-hover"><a href="project-01.html"></a></div>
            <a href="project-01.html"><img src="img/projects/project-03.png" alt="Project 03" /></a>
          </div>
          <div class="thumbnail-caption"><a class="caption-link" href="project-01.html">Project 03</a></div>
        </div>
      </li>
      <!-- End project -->

      <!-- Begin project -->
      <li>
        <div class="thumbnail">
          <div class="thumbnail-img">
            <div class="thumbnail-hover"><a href="project-01.html"></a></div>
            <a href="project-01.html"><img src="img/projects/project-04.png" alt="Project 04" /></a>
          </div>
          <div class="thumbnail-caption"><a class="caption-link" href="project-01.html">Project 04</a></div>
        </div>
      </li>
      <!-- End project -->

      <!-- Begin project -->
      <li>
        <div class="thumbnail">
          <div class="thumbnail-img">
            <div class="thumbnail-hover"><a href="project-01.html"></a></div>
            <a href="project-01.html"><img src="img/projects/project-05.png" alt="Project 05" /></a>
          </div>
          <div class="thumbnail-caption"><a class="caption-link" href="project-01.html">Project 05</a></div>
        </div>
      </li>
      <!-- End project -->

      <!-- Begin project -->
      <li>
        <div class="thumbnail">
          <div class="thumbnail-img">
            <div class="thumbnail-hover"><a href="project-01.html"></a></div>
            <a href="project-01.html"><img src="img/projects/project-06.png" alt="Project 06" /></a>
          </div>
          <div class="thumbnail-caption"><a class="caption-link" href="project-01.html">Project 06</a></div>
        </div>
      </li>
      <!-- End project -->

      <!-- Begin project -->
      <li>
        <div class="thumbnail">
          <div class="thumbnail-img">
            <div class="thumbnail-hover"><a href="project-01.html"></a></div>
            <a href="project-01.html"><img src="img/projects/project-07.png" alt="Project 07" /></a>
          </div>
          <div class="thumbnail-caption"><a class="caption-link" href="project-01.html">Project 07</a></div>
        </div>
      </li>
      <!-- End project -->

      <!-- Begin project -->
      <li>
        <div class="thumbnail">
          <div class="thumbnail-img">
            <div class="thumbnail-hover"><a href="project-01.html"></a></div>
            <a href="project-01.html"><img src="img/projects/project-08.png" alt="Project 08" /></a>
          </div>
          <div class="thumbnail-caption"><a class="caption-link" href="project-01.html">Project 08</a></div>
        </div>
      </li>
      <!-- End project -->

      <!-- Begin project -->
      <li>
        <div class="thumbnail">
          <div class="thumbnail-img">
            <div class="thumbnail-hover"><a href="project-01.html"></a></div>
            <a href="project-01.html"><img src="img/projects/project-09.png" alt="Project 09" /></a>
          </div>
          <div class="thumbnail-caption"><a class="caption-link" href="project-01.html">Project 09</a></div>
        </div>
      </li>
      <!-- End project -->

    </ul>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <footer>
      <ul>
        <li>&copy; 2014 <a href="index.html">Your Name Here</a>. All rights reserved.</li>
        <li><a href="mailto:hello@yourname.com"><i class="fa fa-envelope-o"></i> hello@yourname.com</a></li>
      </ul>
      <div class="social-icons">
        <a href="http://www.twitter.com/typeandgrids" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
        <a href="http://www.facebook.com/typeandgrids" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
      </div>
    </footer>
  </div>
</div> --}}