<div class="parallax-background">
  <div class="intro-text">
    <br>
    <h1>RealFeelz</h1>
    <h2>What's Real For You Right Now?</h2>
    <br>
    <br>
    <p><i class="fi-arrow-down"></i></p>
  </div>
</div>

<div class="parallax-content">

  <div class="grid-frame">
    <div class="medium-grid-block collapse medium-2 large-3 vertical"></div>

    <div class="grid-block medium-8 large-6 vertical">
      <div class="grid-block">
        <div class="grid-block small-12 medium-12 vertical">
          <div class="message-input grid-content collapse shrink">
            <h4 class="text-center">Anonymously Share Your Thoughts and Feelings</h4>
            <form {{action "postStatement" newPost on="submit" }}>
              {{textarea placeholder="what's real for you right now?" class="text-field" value=newPost type="text" autofocus="true" cols="40" maxlength="200" require="true" wrap="hard"}}
              <div id="recaptcha"></div>
              <div class="status-text">
                {{#if verifyingCaptcha}}
                <p>Verifying Captcha...</p>
                {{/if}} {{#if showingCaptcha}}
                <p>Getting a Captcha...</p>
                {{/if}} {{#if captchaVerified }}
                <p>Now that we know you are a human, hit post again to share.</p>
                {{/if}} {{#if tryAgain}}
                <p>Try again...</p>
                {{/if}}
              </div>
              <button class="button" type="submit">Post</button>
            </form>
          </div>
          <div class="grid-content">
            <ul class="truth-container">
              {{#each}}
              <p class="truths">{{body}}</p>
              <hr>
              {{/each}}
            </ul>
            <hr />
          </div>
        </div>
      </div>
    </div>

    <div class="medium-grid-block collapse medium-2 large-3 vertical">
    </div>
  </div>

  <div class="dark title-bar">
  <p class="title center">{{#link-to 'index'}}&copy;2014 RealFeelz{{/link-to}}</p>
  </div>

</div>
