{{view 'stickykit-view'}}
{{view 'flickerplate-view'}}
{{!-- {{view 'magellan-view'}} --}}
{{!-- {{view 'fullbackground-view'}} --}}
{{!-- https://unsplash.imgix.net/reserve/wVlfnlTbRtK8eGvbnBZI_VolkanOlmez_005.jpg?q=75&fm=jpg&s=de70d125f08a3fbb40d6b9984af5c3ad --}}

    <body data-ui="stripe" data-icon-font="icomoon" data-project-css="public.css " data-project-js="min/public.min.js " style="display: none;"   class="invert"  >
      <a href="#" class="navigation-trigger icon-menu"></a>
      <nav class="absolute"><div class="contain">
        <ul class="navigation">

          <li><a href="http://getwebplate.com#download">GET WEBPLATE</a></li>
          <li><a href="http://getwebplate.com/documentation">DOCUMENTATION</a></li>
          <li>
            <a href="#">UI KITS<span class="icon-angle-down"></span></a>
            <ul>
              <li><a href="http://getwebplate.com/bower_components/webplate/project/ui/quill/example.html">Quill UI</a></li>
              <li><a href="http://getwebplate.com/bower_components/webplate/project/ui/stripe/example.html">Stripe UI</a></li>
            </ul>
          </li>
          <li>
            <a href="#">PLUGINS<span class="icon-angle-down"></span></a>
            <ul>
              <li><a href="http://getwebplate.com/plugins/blueplate">Blueplate</a></li>
              <li><a href="http://getwebplate.com/plugins/buttonplate">Buttonplate</a></li>
              <li><a href="http://getwebplate.com/plugins/flickerplate">Flickerplate</a></li>
              <li><a href="http://getwebplate.com/plugins/formplate">Formplate</a></li>
              <li><a href="http://getwebplate.com/plugins/modalplate">Modalplate</a></li>
              <li><a href="http://getwebplate.com/plugins/penplate">Penplate</a></li>
            </ul>
          </li>
        </ul>
        <div class="logo-container"><a href="http://getwebplate.com" class="logo-line">WEBPLATE</a></div>
      </div></nav>
      <header class="stripe full">

        <div class="contain">
          <a href="#" class="scroll-down icon-angle-down"></a>
        </div>
        <!-- Flicker -->
        <div class="flickerplate bg-image" data-dot-navigation="false" data-block-text="false" data-auto-flick-delay="6">
          <ul>
            <li data-background="http://getwebplate.com/bower_components/webplate/project/img/flicks/mist.jpg">
              <div class="flick-title">A cool jQuery plugin that lets you flick through content</div>
            </li>
            <li data-background="http://getwebplate.com/bower_components/webplate/project/img/flicks/forest.jpg">
              <div class="flick-title">So simple to use, fully responsive and touch enabled</div>
            </li>
            <li data-background="http://getwebplate.com/bower_components/webplate/project/img/flicks/mountain-misty.jpg">
              <div class="flick-title">Hard to believe that it's only 14kb in size</div>

            </li>
          </ul>
        </div>
      </header><div  class="stripe download-stripe"><div class="contain">
      <h3>Get the Plugin</h3>
      <h5>You can download Flickerplate as a zip file directly or for the latest version get it via Github. Note that this plugin is included within Webplate by default.</h5>
      <div class="left">
        <a href="https://github.com/chrishumboldt/Flickerplate/archive/master.zip" class="btn-download"><span class="icon-inbox"></span>Flickerplate.zip</a>
      </div>
      <div class="right">
        <a href="https://github.com/chrishumboldt/Flickerplate" class="btn-link"><span class="icon-github"></span>Get via Github</a>
      </div>
    </div></div>

</div></div>
</body>
{{!-- <body data-ui="stripe" data-icon-font="icomoon" data-project-css="public.css " data-project-js="min/public.min.js " style="display: block;" class="invert">
<a href="#" class="navigation-trigger icon-menu small-show"></a>
<nav class="absolute"><div class="contain">
<ul class="navigation">
<li><a href="http://getwebplate.com#download">GET WEBPLATE</a></li>
<li><a href="http://getwebplate.com/documentation">DOCUMENTATION</a></li>
<li class="has-sub-menu">
<a href="#">UI KITS<span class="icon-angle-down"></span></a>
<ul style="width: 90px;">
<li><a href="http://getwebplate.com/bower_components/webplate/project/ui/quill/example.html">Quill UI</a></li>
<li><a href="http://getwebplate.com/bower_components/webplate/project/ui/stripe/example.html">Stripe UI</a></li>
</ul>
</li>
<li class="has-sub-menu">
<a href="#">PLUGINS<span class="icon-angle-down"></span></a>
<ul style="width: 103px;">
<li><a href="http://getwebplate.com/plugins/blueplate">Blueplate</a></li>
<li><a href="http://getwebplate.com/plugins/buttonplate">Buttonplate</a></li>
<li><a href="http://getwebplate.com/plugins/flickerplate">Flickerplate</a></li>
<li><a href="http://getwebplate.com/plugins/formplate">Formplate</a></li>
<li><a href="http://getwebplate.com/plugins/modalplate">Modalplate</a></li>
<li><a href="http://getwebplate.com/plugins/penplate">Penplate</a></li>
</ul>
</li>
</ul>
<div class="logo-container"><a href="http://getwebplate.com" class="logo-line">WEBPLATE</a></div>
</div></nav>
<header class="stripe full" style="height: 702px;">
<div class="contain">
<a href="#" class="scroll-down icon-angle-down" style="margin-top: 602px;"></a>
</div>
<!-- Flicker -->
<div class="flickerplate bg-image animate-transform-slide flicker-theme-light" data-dot-navigation="false" data-block-text="false" data-auto-flick-delay="6" data-flick-position="3" style="-webkit-transform: translate3d(0px, 0px, 0px); transform: translate3d(0px, 0px, 0px);"><div class="arrow-navigation left"></div><div class="arrow-navigation right"></div>
<ul class="flicks" style="-webkit-transform:translate3d(-2%, 0, 0);-o-transform:translate3d(-2%, 0, 0);-moz-transform:translate3d(-2%, 0, 0);transform:translate3d(-2%, 0, 0)">
<li data-background="http://getwebplate.com/bower_components/webplate/project/img/flicks/mist.jpg" style="background-image: url(http://getwebplate.com/bower_components/webplate/project/img/flicks/mist.jpg);"><div class="flick-inner"><div class="flick-content">
<div class="flick-title">A cool jQuery plugin that lets you flick through content</div>
</div></div></li>
<li data-background="http://getwebplate.com/bower_components/webplate/project/img/flicks/forest.jpg" style="background-image: url(http://getwebplate.com/bower_components/webplate/project/img/flicks/forest.jpg);"><div class="flick-inner"><div class="flick-content">
<div class="flick-title">So simple to use, fully responsive and touch enabled</div>
</div></div></li>
<li data-background="http://getwebplate.com/bower_components/webplate/project/img/flicks/mountain-misty.jpg" style="background-image: url(http://getwebplate.com/bower_components/webplate/project/img/flicks/mountain-misty.jpg);"><div class="flick-inner"><div class="flick-content">
<div class="flick-title">Hard to believe that it's only 14kb in size</div>
</div></div></li>
</ul>
</div>
</header><div class="stripe download-stripe"><div class="contain">
<h3>Get the Plugin</h3>
<h5>You can download Flickerplate as a zip file directly or for the latest version get it via Github. Note that this plugin is included within Webplate by default.</h5>
<div class="left">
<a href="https://github.com/chrishumboldt/Flickerplate/archive/master.zip" class="btn-download"><span class="icon-inbox"></span>Flickerplate.zip</a>
</div>
<div class="right">
<a href="https://github.com/chrishumboldt/Flickerplate" class="btn-link"><span class="icon-github"></span>Get via Github</a>
</div>
</div></div>
</body> --}}